<div class="p-4 flex gap-4 hover:bg-gray-200 dark:hover:bg-gray-700 transition-colors cursor-pointer"
     data-cart-line
     data-cart-line-id="{{ line.id }}">
  <a href="{{ line.product.get_absolute_url }}"
     class="w-16 h-16 bg-gray-100 dark:bg-gray-500 rounded shrink-0 flex items-center justify-center cursor-pointer">
    {% with line.product.images.all|first as img %}
      {% if img %}
        <img class="w-8 h-8 object-contain" src="{{ img.image.url }}" alt="{{ line.product.name }}">
      {% else %}
        <div class="h-full w-full bg-gray-200 dark:bg-gray-700"></div>
      {% endif %}
    {% endwith %}
  </a>

  <div class="flex-1 min-w-0">
    <a href="{{ line.product.get_absolute_url }}"
       class="block w-full text-sm font-bold text-gray-900 dark:text-white truncate">
      {{ line.product.name }}
    </a>

    <p class="text-sm text-gray-500 dark:text-gray-400" data-cart-line-price>
      {{ line.price }} zł
    </p>

    <div class="flex items-center gap-2 mt-2">
       {% include "Cart/cart_line_input.html" with quantity=line.quantity product_id=line.product.id %}

      <button data-product-id="{{ line.product.id }}" class="remove-cart-line text-red-600 hover:text-red-700 p-1 cursor-pointer">
        <svg class="w-4 h-4" fill="none" stroke="currentColor" viewBox="0 0 24 24">
          <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
                d="M19 7l-.867 12.142A2 2 0 0116.138 21H7.862a2 2 0 01-1.995-1.858L5 7m5 4v6m4-6v6m1-10V4a1 1 0 00-1-1h-4a1 1 0 00-1 1v3M4 7h16"></path>
        </svg>
      </button>
    </div>
  </div>
</div>
