.idea
.vscode
*.code-workspace
*.pyc
*~
.venv
/.vite/
venv
db.sqlite3
.sass-cache/
celerybeat-schedule
amplifier/localsettings.py
amplifier/local.py
static_root/
node_modules/
openapitools.json
/media/
docs/_build
_dist/
.env
.env.production
.DS_Store
.direnv
.envrc
# compiled static files are built in dev/deploy
static/css/
static/js/
static/.vite/
