.idea
.vscode
*.code-workspace
*.pyc
*~
.venv
/.vite/
venv
db.sqlite3
.sass-cache/
celerybeat-schedule
amplifier/localsettings.py
amplifier/local.py
static_root/
node_modules/
openapitools.json
/media/
docs/_build
_dist/
.env
.env.production
.DS_Store
.direnv
.envrc
# compiled static files are built in dev/deploy
static/css/admin-tailwind-css.css
static/css/site-tailwind-css.css
static/css/admin.css
static/css/site.css
static/js/*-bundle.js
static/js/*.js.map
static/.vite/
