{% load i18n l10n hijack %}

{% if request.user|can_hijack:another_user and request.user.pk != another_user.pk %}
  <a
    href="{% url 'support:hijack_open_tab' another_user.pk|unlocalize %}?next={{ next|default:'/'|urlencode }}"
    target="_blank"
    rel="noopener"
    class="button inline-flex items-center justify-center rounded-default bg-primary-600 px-3 py-1.5 text-xs font-semibold text-white hover:bg-primary-700"
  >
    {% if is_user_admin %}
      {% translate 'impersonate'|capfirst context 'verb' %}
    {% else %}
      {% blocktranslate trimmed %}
        impersonate {{ username }}
      {% endblocktranslate %}
    {% endif %}
  </a>
{% endif %}
