{% extends 'account/email/email_template_base.html' %}
{% load i18n %}
{% block message_body %}
<p style="margin: 0; margin-bottom: 0px;">{% translate "Hello," %}</p>
<p style="margin: 0; margin-bottom: 0px;">&nbsp;</p>
<p style="margin: 0; margin-bottom: 0px;">
  {% blocktranslate trimmed with site_name=store_name %}
    Use the code below to sign in to your {{ site_name }} account.
  {% endblocktranslate %}
</p>
<p style="margin: 0; margin-bottom: 0px;">&nbsp;</p>
<p style="margin: 0; margin-bottom: 0px; font-weight: bold; font-family: monospace; font-size: 24px;">{{ code }}</p>
<p style="margin: 0; margin-bottom: 0px;">&nbsp;</p>
<p style="margin: 0; margin-bottom: 0px;">{% translate "If you did not request this code, you can safely ignore this email." %}</p>
{% endblock %}
{% block cta %}{% endblock %}
