{% extends 'account/email/email_template_base.html' %}
{% load i18n %}
{% block message_body %}
<p style="margin: 0; margin-bottom: 0px;">{% blocktranslate trimmed with site_name=store_name %}We received a request to reset the password for your {{ site_name }} account.{% endblocktranslate %}</p>
<p style="margin: 0; margin-bottom: 0px;">&nbsp;</p>
<p style="margin: 0; margin-bottom: 0px;">{% translate "Click the button below to choose a new password." %}</p>
<p style="margin: 0; margin-bottom: 0px;">&nbsp;</p>
<p style="margin: 0; margin-bottom: 0px;">{% translate "If you did not request a password reset, you can safely ignore this email." %}</p>
{% endblock %}
{% block cta_link %}{{ password_reset_url }}{% endblock %}
{% block cta_text %}{% translate "Reset Password" %}{% endblock %}
