{% if section.custom_html %}
  <section id="custom-section-{{ section.id }}" class="bg-gray-50 antialiased dark:bg-gray-900 pt-4 pb-8 md:pt-8 md:pb-12">
    <div class="mx-auto max-w-7xl px-4 2xl:px-0 cms-content">
      {{ section.custom_html|safe }}
    </div>
    {% if section.custom_css %}
      <style>
        {{ section.custom_css|safe }}
      </style>
    {% endif %}
    {% if section.custom_js %}
      <script>
        {{ section.custom_js|safe }}
      </script>
    {% endif %}
  </section>
{% endif %}
