{% extends "web/base.html" %}
{% load i18n %}

{% block body %}
<section class="bg-gray-50 pt-4 pb-4 antialiased dark:bg-gray-900 md:pt-8 md:pb-6">
  <div class="max-w-7xl mx-auto px-2">
    <h2 class="mt-6 text-xl font-semibold text-gray-900 dark:text-white sm:mt-8 sm:text-2xl">
      {% blocktranslate with id=order.id %}Order #{{ id }}{% endblocktranslate %}
    </h2>
    <p class="text-subtitle mt-1">
      {% translate "Save this link to track your order." %}
    </p>

    <div class="mt-6 sm:mt-8 lg:flex lg:items-start lg:gap-8">
      <div class="min-w-0 flex-1 divide-y divide-gray-200 rounded-lg border border-gray-200 bg-white shadow-sm dark:divide-gray-700 dark:border-gray-700 dark:bg-gray-800">
        {% for line in lines %}
          <div class="flex flex-wrap items-center space-y-4 p-6 sm:gap-6 sm:space-y-0 md:justify-between">
            <div class="w-full items-center space-y-4 sm:flex sm:space-x-6 sm:space-y-0 md:max-w-md lg:max-w-lg">
              <a href="{{ line.product.get_absolute_url }}" class="font-medium text-gray-900 hover:underline dark:text-white line-clamp-2 wrap-break-word" title="{{ line.product.name }}">
                {{ line.product.name }}
              </a>
            </div>
            <div class="w-8 shrink-0">
              <p class="text-base font-normal text-gray-900 dark:text-white">x{{ line.quantity }}</p>
            </div>
            <div class="md:w-24 md:text-right">
              <p data-price="{{ line.line_total }}" data-currency="{{ order.currency|default:site_currency }}" class="text-base font-bold text-gray-900 dark:text-white">
                {{ line.line_total|floatformat:2 }}
              </p>
            </div>
          </div>
        {% empty %}
          <div class="p-6">
            <p class="text-subtitle">{% translate "No items." %}</p>
          </div>
        {% endfor %}
      </div>

      <div class="ml-auto mt-6 w-full space-y-6 rounded-lg border border-gray-100 bg-gray-50 p-4 dark:border-gray-700 dark:bg-gray-800 sm:mt-8 md:p-6 lg:mt-0 lg:max-w-sm xl:max-w-md">
        <div class="p-6">
          <h4 class="mb-4 text-xl font-semibold text-gray-900 dark:text-white">{% translate "Order Details" %}</h4>
          <div class="flow-root">
            <div class="divide-y divide-gray-200 dark:divide-gray-700">
              <dl class="pb-4 sm:flex sm:items-start sm:justify-between sm:gap-4">
                <dt class="whitespace-nowrap font-semibold text-gray-900 dark:text-white">{% translate "Order date" %}</dt>
                <dd class="mt-2 text-subtitle wrap-break-word sm:mt-0 sm:text-right sm:max-w-xs">{{ order.created_at|date:"Y-m-d H:i" }}</dd>
              </dl>

              <dl class="py-4 sm:flex sm:items-start sm:justify-between sm:gap-4">
                <dt class="whitespace-nowrap font-semibold text-gray-900 dark:text-white">{% translate "Status" %}</dt>
                <dd class="mt-2 text-subtitle wrap-break-word sm:mt-0 sm:text-right sm:max-w-xs">{{ order.get_status_display }}</dd>
              </dl>

              <dl class="py-4 sm:flex sm:items-start sm:justify-between sm:gap-4">
                <dt class="whitespace-nowrap font-semibold text-gray-900 dark:text-white">{% translate "Email" %}</dt>
                <dd class="mt-2 text-subtitle wrap-break-word sm:mt-0 sm:text-right sm:max-w-xs">{{ order.email }}</dd>
              </dl>

              {% if order.phone %}
                <dl class="py-4 sm:flex sm:items-start sm:justify-between sm:gap-4">
                  <dt class="whitespace-nowrap text-base font-semibold text-gray-900 dark:text-white">{% translate "Phone" %}</dt>
                  <dd class="mt-2 text-subtitle wrap-break-word sm:mt-0 sm:text-right sm:max-w-xs">{{ order.phone }}</dd>
                </dl>
              {% endif %}

              <dl class="py-4 sm:flex sm:items-start sm:justify-between sm:gap-4">
                <dt class="whitespace-nowrap text-base font-semibold text-gray-900 dark:text-white">{% translate "Delivery method" %}</dt>
                <dd class="mt-2 text-subtitle wrap-break-word sm:mt-0 sm:text-right sm:max-w-xs">{{ order.delivery_method_name }}</dd>
              </dl>

              <dl class="py-4 sm:flex sm:items-start sm:justify-between sm:gap-4">
                <dt class="whitespace-nowrap font-semibold text-gray-900 dark:text-white">{% translate "Payment method" %}</dt>
                <dd class="mt-2 text-subtitle wrap-break-word sm:mt-0 sm:text-right sm:max-w-xs">{{ order.payment_method_name }}</dd>
              </dl>

              <dl class="pt-4 sm:flex sm:items-start sm:justify-between sm:gap-4">
                <dt class="whitespace-nowrap font-semibold text-gray-900 dark:text-white">{% translate "Shipping address" %}</dt>
                <dd class="mt-2 text-subtitle wrap-break-word sm:mt-0 sm:text-right sm:max-w-xs">{{ order.shipping_address }}, {{ order.shipping_city }}, {{ order.shipping_country }}</dd>
              </dl>
            </div>
          </div>
        </div>

        <div class="space-y-4 p-6">
          <h4 class="text-xl font-semibold text-gray-900 dark:text-white">{% translate "Order amount" %}</h4>
          <div class="space-y-2">
            {% include "Cart/includes/cart_totals_list.html" with subtotal=order.subtotal delivery_cost=order.delivery_cost payment_cost=order.payment_cost total=order.total show_delivery_cost=True show_payment_cost=True %}
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
{% endblock %}
