{% load i18n %}
{% load social_tags %}
{% get_socialapps as socialapps %}
{% if socialapps %}
<div class="flex items-center my-4">
  <div class="w-full h-0.5 bg-gray-200 dark:bg-gray-700"></div>
  <div class="px-5 text-center text-sm font-medium text-gray-700 dark:text-gray-200">{% translate "or" %}</div>
  <div class="w-full h-0.5 bg-gray-200 dark:bg-gray-700"></div>
</div>
{% endif %}
{% for provider in socialapps %}
  {% include 'account/components/social/login_with_social_button.html' with provider=provider %}
{% endfor %}
